/* Estilos dos links do cabeçalho */
.header-links a {
  margin-right: 20px;
  color: white;
  text-decoration: none;
  position: relative;
  transition: color 0.3s, transform 0.3s;
}

/* Pseudo-elemento para criar o efeito de destaque */
.header-links a::before {
  content: "";
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: transparent;
  transition: background-color 0.3s;
}

/* Animação de destaque ao passar o mouse sobre os links */
.header-links a:hover::before {
  background-color: #fc5f54; /* Cor de destaque */
}

/* Animação de escala ao passar o mouse sobre os links */
.header-links a:hover {
  transform: scale(1.1); /* Aumenta a escala do link */
}
