@import url("./designerBody/bodyDesigner.css");

/* Estilos do conteúdo */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  width: 100%;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* Estilos dos cards */
.cards {
  display: grid;
  grid-template-columns: repeat(2, 1fr);

  /* espaço entre um elemento interno e outro */
  grid-gap: 0px 80px;
  /* margem interna que afasta os elementos da borda do grid */

  padding: 5rem;
  width: 20%;
  flex-wrap: wrap; /* Adicionado para permitir que os cards quebrem linha quando não houver espaço */
}

.card {
  margin: 20rem; /* Adicionado espaçamento entre os cards */
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 14px;
  flex: 1 0 300px; /* Define a largura dos cards */
  max-width: 300px;
  background-color: #333;
}
.months-agenda,
.meetings {
  background-color: #333;
  width: 30rem;
  margin-left: 2.5rem;
  border-radius: 8px;
}
.agenda-header,
.meetings-header {
  font-size: 20px;
  border-bottom: 3px solid rgb(90, 90, 90);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  margin-left: auto;
  margin-right: auto; /* Centraliza o cabeçalho */
}

.agenda-cards-container,
.meetings-cards-container {
  background-color: #333;
  display: flex;
  flex-direction: column;
  justify-content: center;

  margin: 0rem 5rem;
}

.agenda-card,
.meeting-card {
  background-color: #333;
  width: 23rem;
  height: 6rem;
  font-size: 14px;
  background-color: #ffffff;
  margin: 0.4rem 1rem; /* Centraliza os cards */
  margin-left: -1rem;
  border-radius: 7px;
}
.meeting-card > p {
  margin-left: 1rem;
}
.agenda-card > h3,
.agenda-card > p {
  margin-left: 3rem;
  margin-bottom: 0.5rem;
}
.meetings-scheduled {
  margin-left: 1rem;
  margin-top: 0.5rem;
}
.meetings-scheduled > p {
  margin-bottom: 1rem;
}

.pagination {
  margin-top: 20px;
  display: flex;
  justify-content: center;
}
.pagination img {
  width: 10px;
}
.pagination button {
  padding: 5px 10px;
  margin: 10px 5px;
  border: 1px solid #fff;
  background-color: #333;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s;
  border-radius: 5px;
}

.pagination button:hover {
  background-color: #fff;
  color: #333;
}

.pagination button:focus {
  outline: none;
}

.circle-green,
.circle-red,
.circle-blueLight {
  top: 2.4rem;
  position: relative;
  padding: 20px;
}

.circle-green::before,
.circle-red::before,
.circle-blueLight::before {
  content: "";
  display: inline-block;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-right: 10px;
  position: absolute;
  left: 5px;
  top: 20%;
  transform: translateY(-50%);
}

/* Estilos do círculo verde */
.circle-green::before {
  background-color: rgb(43, 255, 43);
}

/* Estilos do círculo vermelho */
.circle-red::before {
  background-color: red;
}

/* Estilos do círculo azul claro */
.circle-blueLight::before {
  background-color: rgb(46, 124, 243);
}

@media screen and (max-width: 1209px) {
  .agenda-card,
  .meeting-card {
    width: auto;
  }
  .months-agenda,
  .meetings {
    width: auto;
    margin-right: 3rem;
    margin-left: -3rem;
  }
}
@media screen and (max-width: 976px) {
  .cards {
    margin-top: -4rem;
    grid-template-columns: 1fr; /* Altera para uma coluna */
    margin-left: 8rem;
  }
  .meetings {
    margin-top: 2rem;
  }
}

@media screen and (max-width: 720px) {
  .cards {
    margin-left: 4rem;
  }
}
@media screen and (max-width: 576px) {
  .months-agenda,
  .meetings {
    margin-left: -8rem;
    width: 20rem;
  }
  .agenda-header,
  .meetings-header {
    font-size: 16px; /* Reduz o tamanho do texto do cabeçalho */
  }

  .agenda-card,
  .meeting-card {
    width: 14rem; /* Define a largura automática */
    margin: 0.4rem -2rem; /* Ajusta o espaçamento entre os cards */
  }

  .agenda-card > h3,
  .agenda-card > p {
    margin-left: 1rem; /* Ajusta a margem do texto */
  }

  .meetings-scheduled {
    margin-left: 0rem; /* Ajusta a margem */
  }

  .meetings-scheduled > p {
    margin-bottom: 0.5rem; /* Ajusta a margem */
  }
  .circle-green::before,
  .circle-red::before,
  .circle-blueLight::before {
    width: 20px;
    height: 20px;
    position: relative;
    left: 5rem;
    top: -1.5rem;
  }
}
@media screen and (max-width: 346px) {
  .months-agenda,
  .meetings {
    width: 17rem;
  }
  .agenda-card,
  .meeting-card {
    width: 14rem;
    margin-left: -4rem;
  }
  .meetings-header,
  .agenda-header {
    font-size: 12px;
  }
}

@media screen and (max-width: 302px) {
  .agenda-card,
  .meeting-card {
    margin-left: -4rem;
  }
  .months-agenda,
  .meetings {
    margin-left: -8.5rem;
  }
}
