.container{
    display: flex;
    width: 1024.5px;
    height: 537.6px;
    top: 115px;
    left: 171px;
    gap: 1rem;
    border-radius: 20px 0px 0px 20px;
    opacity: 0px;
    background: #E5E7EB;
}
.container-1 {
    width: 537px;
    border-radius: 20px 0px 0px 20px;
    overflow: hidden; 
}
.container-1 img {
    width: 100%; 
    height: auto; 
    display: block; 
}
.container-2{
    width: 513px;
    height: 538px;
    top: 115px;
    left: 683px;
    gap: 0px;
    opacity: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}