.container {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    max-width: 1024.5px;
    height: auto;
    gap: 1rem;
    border-radius: 20px 0px 0px 20px;
    background: #E5E7EB;
    justify-content: center; /* Centraliza o conteúdo horizontalmente */
    margin: 0 auto; /* Centraliza o container na tela */
}

.container img {
    width: 100%;
    max-width: 537px;
    border-radius: 20px 0px 0px 20px;
    display: block;
}

.container-2 {
    flex: 1;
    max-width: 513px;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center; /* Centraliza o conteúdo verticalmente */
    justify-content: center;
}

.logo img {
    max-width: 70%;
    margin-left: 15%;
}

.overPass {
    margin-top: -3rem;
    font-family: sans-serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 24px;
    text-align: center;
    width: 100%;
    color: #566A7F;
    cursor: pointer;
}

.buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: Public Sans;
    font-size: 15px;
    font-weight: 400;
    line-height: 17.63px;
    text-align: center;
    color: #FFFFFF;
}

.buttons button {
    width: 100%;
    max-width: 293px;
    margin-top: 0.5rem;
}

/* Adicione uma media query para esconder a imagem Pavel quando a largura da tela for menor ou igual a 768px */
@media screen and (max-width: 768px) {
    .container img {
        display: none;
    }
    .logo img{
        display: block;
    }
}
